.banner{
  position: relative;
  background-image: url("/images/saint.jpg");
  opacity: 0.92;
  background-size: 100%;
  height: 470px;
  background-position: center;
  padding: 50px 0;
  margin-bottom: 30px;
}

.banner-text{
  position:absolute;
  top: 130px;
}

.banner-text:hover{
  color: rgb(75, 118, 168);
}
