/* Your card CSS file */
.cards {
  display: flex;
  justify-content: space-around;
}

.card-category{
  position:relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 3s;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*height: 200px;*/
  /*width: 250px;*/
  color: rgb(254, 168, 93);
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  width:100%;
  height: 80%;
  font-family: 'Dancing Script', cursive;

  /*box-shadow: 0 0 15px rgba(0,0,0,0.2);*/

}
.card-category:hover{
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.9);
  transition: 1s;
  transform: scale(1.1);
}

.card-category-details{
  position: absolute;
  top: 5px;
  left: 10px;
  color: white;
  transition: 4s;
}

.card-category-details:hover{
  color: rgb(34, 75, 122);
  transition: 0.1s;
  font-size: 110%;
}

.card-product{
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 3s;
  max-width: 300px;
  color: rgb(254, 168, 93);
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  font-family: 'Dancing Script', cursive;
  width:100%;
  height: 80%;
}

.card-product:hover{
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.9);
  transition: 1s;
  transform: scale(1.1);
}

.card-product-details{
  position: absolute;
  top: 5px;
  left: 10px;
  color: white;
  transition: 5s;
}

.card-product-details:hover{
  color: rgb(34, 75, 122);
  transition: 0.1s;
  font-size: 110%;
}

.card-trip{
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 3s;
  max-width: 300px;
  color: rgb(254, 168, 93);
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  width:100%;
  height: 80%;
  font-family: 'Dancing Script', cursive;

}

.card-trip:hover{
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.9);
  transition: 1s;
  transform: scale(1.1);
}

.card-trip-details-one{
  position: absolute;
  top: 5px;
  left: 10px;
  color: white;
  transition: 6s;
}

.card-trip-details-one:hover{
  color: rgb(34, 75, 122);
  transition: 0.1s;
  font-size: 110%;
}

.card-trip-details-two{
  position: absolute;
  bottom: 40px;
  left: 30px;
  transition: 6s;
  font-size: 50px;
}

.card-trip-details-two:hover{
  font-size: 150%;
}

.nice-text{
  font-size: 46px;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px rgb(68, 108, 154);
}

.nice-text-two{
  font-size: 36px;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px rgb(68, 108, 154);
}
.nice-text-three{
 font-family: 'Nunito', sans-serif;
 color: rgb(245, 245, 245);
}

.body{
  background-color: rgb(237, 238, 240);
}


